.modal-background {
  background-color: rgba(0, 0, 0, 0.6);
}

// This can be used to catch a click event from within a component
.modal-clear-bg {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
