.styleguide-sidebar {
  border-right: 1px solid $grey-25;
  padding: 3em 1em;
}

.styleguide-sidebar-title {
  color: $grey-25;
  font-size: 0.75em;
  font-weight: 400;
  padding-bottom: 1em;
  text-transform: uppercase;
}

.styleguide-sidebar-list {
  list-style: none;

  li {
    color: $blue;
    padding: 0.5em 0;
  }
}

.styleguide-components {
  padding: 2em 3em;
}

.styleguide-components-component {
  margin-bottom: 2em;
}
