/**********

  Triangle Shape Component

**************************

  A simple component for creating a triangle shape in several directions

*************************/

.triangle-bottom {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid;
  border-top-color: inherit;
}

.triangle-left {
  border-bottom: 10px solid transparent;
  border-right: 10px solid;
  border-right-color: inherit;
  border-top: 10px solid transparent;
}

.triangle-right {
  border-bottom: 10px solid transparent;
  border-left: 10px solid;
  border-left-color: inherit;
  border-top: 10px solid transparent;
}

.triangle-top {
  border-bottom: 10px solid;
  border-bottom-color: inherit;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

