.action-bar-enter {
  opacity: 0.01;
  top: -50px;

  &.action-bar-enter-active {
    opacity: 1;
    top: 0px;
    transition: opacity $duration ease-in, top $duration ease-in;
  }
}


.action-bar-leave {
  opacity: 1;
  top: 0px;

  &.action-bar-leave-active {
    opacity: 0.01;
    top: -50px;
    transition: opacity $duration ease-in, top $duration ease-in;
  }
}
