/**

  flash messaging
--------------------------------

  #message-bar, .message, .alert, .notice are used by HCM

  #flash, .flash, .warning, .fatal, .info
  are used by the sinatra-flash gem in multiple services

  TODO: Add a neutral messaging grade to HCM and
        standardize classes

------------------------------*/

#flash,
#message-bar {
  padding-bottom: $space-2;
  width: 100%;
}

.flash,
.message {
  background: $grey-90;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  line-height: $space-3;
  margin: 0 auto;
  padding: $space-2 0;
  text-align: center;
  width: 100%;

  &.alert,
  &.fatal,
  &.warning {
    background: $orange;
    color: $white;
  }

  &.info {
    color: $grey-15;
  }

  &.notice {
    color: $green;
  }
}
