/**

  borders
-----------------------

  These are the utility classes for borders and border-radii.

  b: border
  bw: border-width

---------------------*/

.b {
  border-style: solid;
}

.bt {
  border-top-style: solid;
}

.br {
  border-right-style: solid;
}

.bb {
  border-bottom-style: solid;
}

.bl {
  border-left-style: solid;
}

.bd {
  border-style: dotted;
}

.btd {
  border-top-style: dotted;
}

.brd {
  border-right-style: dotted;
}

.bbd {
  border-bottom-style: dotted;
}

.bld {
  border-left-style: dotted;
}

.bw-1 {
  border-width: 1px;
}

.bw-2 {
  border-width: 2px;
}

.bw-3 {
  border-width: 3px;
}

.bw-4 {
  border-width: 4px;
}

.bw-5 {
  border-width: 5px;
}

.rounded-1 {
  border-radius: 2px;
}

.rounded-2 {
  border-radius: 3px;
}

.rounded-3 {
  border-radius: 6px;
}

.rounded-top-2 {
  border-radius: 3px 3px 0 0;
}

.rounded-bottom-2 {
  border-radius: 0 0 3px 3px;
}

.shadow {
  box-shadow: 0 2px 5px rgba($grey-95, 0.1);
}

.circle {
  border-radius: 50%;
}

.not-rounded {
  border-radius: 0px;
}
