// blue
$primary-blue: #186bb7;
$secondary-blue: #4c9be6;
$tertiary-blue: #0e3e6b;
$baby-blue: #a1d2ff;
$light-blue: #eaf5ff;

// greys
$grey-95: #14212d;
$grey-90: #2b3742;
$grey-75: #4f5962;
$grey-50: #899096;
$grey-25: #c4c7ca;
$grey-25: #dcdee0;
$grey-10: #e7e8ea;
$grey-5: #f3f3f4;
$grey-3: #f9f9f9;

// colors pastel
$orange-pastel: #f5c3aa;
$yellow-pastel: #fee5b7;
$green-pastel: #c0e1a3;
$teal-pastel: #a3e9ed;
$purple-pastel: #dec2e5;
$blue-pastel: #c9e1f7;

// colors pure
$orange: #e05b18;
$yellow: #fdb836;
$green: #52ac00;
$teal: #00c2cb;
$purple: #9846af;

// colors shades
$orange-shade: #b85828;
$yellow-shade: #d2a043;
$green-shade: #4a8b0f;
$teal-shade: #129ea5;
$purple-shade: #6f3b7e;

// colors dark
$orange-dark: #87411d;
$yellow-dark: #9b7531;
$green-dark: #36660a;
$teal-dark: #0c7379;
$purple-dark: #582e63;