/**

  fonts
-------------------------------------

  Define the fonts used in this app and declare silent classes to be used in your CSS.

-----------------------------------*/

@font-face {
  font-family: 'Proxima';
  src: url('https://dzmqh46i6l1ir.cloudfront.net/public/proxima.eot');
  src: url('https://dzmqh46i6l1ir.cloudfront.net/public/proxima.eot?#iefix') format('embedded-opentype'),
       url('https://dzmqh46i6l1ir.cloudfront.net/public/proxima.woff') format('woff'),
       url('https://dzmqh46i6l1ir.cloudfront.net/public/proxima.ttf') format('truetype'),
       url('https://dzmqh46i6l1ir.cloudfront.net/public/proxima.svg#ProximaCondensedRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url('https://dzmqh46i6l1ir.cloudfront.net/public/proxima-bold.eot');
  src: url('https://dzmqh46i6l1ir.cloudfront.net/public/proxima-bold.eot?#iefix') format('embedded-opentype'),
       url('https://dzmqh46i6l1ir.cloudfront.net/public/proxima-bold.woff') format('woff'),
       url('https://dzmqh46i6l1ir.cloudfront.net/public/proxima-bold.ttf') format('truetype'),
       url('https://dzmqh46i6l1ir.cloudfront.net/public/proxima-bold.svg#ProximaCondensedSemibold') format('svg');
  font-weight: bold;
  font-style: normal;
}

/* sans
------------------------------------

  This is your basic sans font.

---------------------------------*/

$sans-family: 'Proxima', sans-serif;


/* serif
-----------------------------------

  This is your basic serif font.

---------------------------------*/

$serif-family: georgia, times, serif;


/* weights
----------------------------------

  Various weights used with your fonts

--------------------------------*/

$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
