@font-face {
  font-family: 'icons';
  src: url('./src/lib/fonts/icons.eot');
  src: url('./src/lib/fonts/icons.eot?#iefix') format('eot'),
    url('./src/lib/fonts/icons.woff') format('woff'),
    url('./src/lib/fonts/icons.ttf') format('truetype'),
    url('./src/lib/fonts/icons.svg#icons') format('svg');
}

%icon {
  font-family: 'icons';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

@function icon-char($filename) {
  $char: '';

  @if $filename == alert {
    $char: '\E001';
  }
  @if $filename == arrow_down {
    $char: '\E002';
  }
  @if $filename == arrow_left {
    $char: '\E003';
  }
  @if $filename == arrow_right {
    $char: '\E004';
  }
  @if $filename == arrow_spinner {
    $char: '\E005';
  }
  @if $filename == arrow_up {
    $char: '\E006';
  }
  @if $filename == arrowleft_outline {
    $char: '\E007';
  }
  @if $filename == asterisk {
    $char: '\E008';
  }
  @if $filename == bell {
    $char: '\E009';
  }
  @if $filename == cake {
    $char: '\E00A';
  }
  @if $filename == calendar {
    $char: '\E00B';
  }
  @if $filename == check {
    $char: '\E00C';
  }
  @if $filename == chevron_right {
    $char: '\E00D';
  }
  @if $filename == clipboard {
    $char: '\E00E';
  }
  @if $filename == clock {
    $char: '\E00F';
  }
  @if $filename == collapse {
    $char: '\E010';
  }
  @if $filename == copy {
    $char: '\E011';
  }
  @if $filename == delete {
    $char: '\E012';
  }
  @if $filename == denied {
    $char: '\E013';
  }
  @if $filename == disabled {
    $char: '\E014';
  }
  @if $filename == document {
    $char: '\E015';
  }
  @if $filename == documents_blank {
    $char: '\E016';
  }
  @if $filename == download {
    $char: '\E017';
  }
  @if $filename == drag {
    $char: '\E018';
  }
  @if $filename == email {
    $char: '\E019';
  }
  @if $filename == exit {
    $char: '\E01A';
  }
  @if $filename == expand {
    $char: '\E01B';
  }
  @if $filename == export {
    $char: '\E01C';
  }
  @if $filename == feed {
    $char: '\E01D';
  }
  @if $filename == flag {
    $char: '\E01E';
  }
  @if $filename == flagpole {
    $char: '\E01F';
  }
  @if $filename == folder {
    $char: '\E020';
  }
  @if $filename == folder_open {
    $char: '\E021';
  }
  @if $filename == google {
    $char: '\E022';
  }
  @if $filename == graph {
    $char: '\E023';
  }
  @if $filename == heart {
    $char: '\E024';
  }
  @if $filename == heart_outline {
    $char: '\E025';
  }
  @if $filename == help {
    $char: '\E026';
  }
  @if $filename == help_outline {
    $char: '\E027';
  }
  @if $filename == home {
    $char: '\E028';
  }
  @if $filename == key {
    $char: '\E029';
  }
  @if $filename == list {
    $char: '\E02A';
  }
  @if $filename == location {
    $char: '\E02B';
  }
  @if $filename == lock {
    $char: '\E02C';
  }
  @if $filename == mobile {
    $char: '\E02D';
  }
  @if $filename == namely {
    $char: '\E02E';
  }
  @if $filename == namely_inverted {
    $char: '\E02F';
  }
  @if $filename == pagination_first {
    $char: '\E030';
  }
  @if $filename == pagination_last {
    $char: '\E031';
  }
  @if $filename == pagination_next {
    $char: '\E032';
  }
  @if $filename == pagination_previous {
    $char: '\E033';
  }
  @if $filename == paperclip {
    $char: '\E034';
  }
  @if $filename == pencil {
    $char: '\E035';
  }
  @if $filename == people {
    $char: '\E036';
  }
  @if $filename == person {
    $char: '\E037';
  }
  @if $filename == person_add {
    $char: '\E038';
  }
  @if $filename == phone {
    $char: '\E039';
  }
  @if $filename == pin {
    $char: '\E03A';
  }
  @if $filename == print {
    $char: '\E03B';
  }
  @if $filename == question {
    $char: '\E03C';
  }
  @if $filename == reviews_create {
    $char: '\E03D';
  }
  @if $filename == reviews_manage {
    $char: '\E03E';
  }
  @if $filename == search {
    $char: '\E03F';
  }
  @if $filename == settings {
    $char: '\E040';
  }
  @if $filename == social_fb {
    $char: '\E041';
  }
  @if $filename == social_googleplus {
    $char: '\E042';
  }
  @if $filename == social_linkedin {
    $char: '\E043';
  }
  @if $filename == social_tumblr {
    $char: '\E044';
  }
  @if $filename == social_twitter {
    $char: '\E045';
  }
  @if $filename == star {
    $char: '\E046';
  }
  @if $filename == tag {
    $char: '\E047';
  }
  @if $filename == tasks {
    $char: '\E048';
  }
  @if $filename == team {
    $char: '\E049';
  }
  @if $filename == timeoff_my {
    $char: '\E04A';
  }
  @if $filename == upload {
    $char: '\E04B';
  }
  @if $filename == view {
    $char: '\E04C';
  }
  @if $filename == view_stop {
    $char: '\E04D';
  }
  @if $filename == warning {
    $char: '\E04E';
  }
  @if $filename == workflow {
    $char: '\E04F';
  }
  @return $char;
}

@mixin icon($filename, $insert: before) {
  &:#{$insert} {
    @extend %icon;
    content: icon-char($filename);
  }
}

.icon-alert {
  @include icon(alert);
}

.icon-arrow_down {
  @include icon(arrow_down);
}

.icon-arrow_left {
  @include icon(arrow_left);
}

.icon-arrow_right {
  @include icon(arrow_right);
}

.icon-arrow_spinner {
  @include icon(arrow_spinner);
}

.icon-arrow_up {
  @include icon(arrow_up);
}

.icon-arrowleft_outline {
  @include icon(arrowleft_outline);
}

.icon-asterisk {
  @include icon(asterisk);
}

.icon-bell {
  @include icon(bell);
}

.icon-cake {
  @include icon(cake);
}

.icon-calendar {
  @include icon(calendar);
}

.icon-check {
  @include icon(check);
}

.icon-chevron_right {
  @include icon(chevron_right);
}

.icon-clipboard {
  @include icon(clipboard);
}

.icon-clock {
  @include icon(clock);
}

.icon-collapse {
  @include icon(collapse);
}

.icon-copy {
  @include icon(copy);
}

.icon-delete {
  @include icon(delete);
}

.icon-denied {
  @include icon(denied);
}

.icon-disabled {
  @include icon(disabled);
}

.icon-document {
  @include icon(document);
}

.icon-documents_blank {
  @include icon(documents_blank);
}

.icon-download {
  @include icon(download);
}

.icon-drag {
  @include icon(drag);
}

.icon-email {
  @include icon(email);
}

.icon-exit {
  @include icon(exit);
}

.icon-expand {
  @include icon(expand);
}

.icon-export {
  @include icon(export);
}

.icon-feed {
  @include icon(feed);
}

.icon-flag {
  @include icon(flag);
}

.icon-flagpole {
  @include icon(flagpole);
}

.icon-folder {
  @include icon(folder);
}

.icon-folder_open {
  @include icon(folder_open);
}

.icon-google {
  @include icon(google);
}

.icon-graph {
  @include icon(graph);
}

.icon-heart {
  @include icon(heart);
}

.icon-heart_outline {
  @include icon(heart_outline);
}

.icon-help {
  @include icon(help);
}

.icon-help_outline {
  @include icon(help_outline);
}

.icon-home {
  @include icon(home);
}

.icon-key {
  @include icon(key);
}

.icon-list {
  @include icon(list);
}

.icon-location {
  @include icon(location);
}

.icon-lock {
  @include icon(lock);
}

.icon-mobile {
  @include icon(mobile);
}

.icon-namely {
  @include icon(namely);
}

.icon-namely_inverted {
  @include icon(namely_inverted);
}

.icon-pagination_first {
  @include icon(pagination_first);
}

.icon-pagination_last {
  @include icon(pagination_last);
}

.icon-pagination_next {
  @include icon(pagination_next);
}

.icon-pagination_previous {
  @include icon(pagination_previous);
}

.icon-paperclip {
  @include icon(paperclip);
}

.icon-pencil {
  @include icon(pencil);
}

.icon-people {
  @include icon(people);
}

.icon-person {
  @include icon(person);
}

.icon-person_add {
  @include icon(person_add);
}

.icon-phone {
  @include icon(phone);
}

.icon-pin {
  @include icon(pin);
}

.icon-print {
  @include icon(print);
}

.icon-question {
  @include icon(question);
}

.icon-reviews_create {
  @include icon(reviews_create);
}

.icon-reviews_manage {
  @include icon(reviews_manage);
}

.icon-search {
  @include icon(search);
}

.icon-settings {
  @include icon(settings);
}

.icon-social_fb {
  @include icon(social_fb);
}

.icon-social_googleplus {
  @include icon(social_googleplus);
}

.icon-social_linkedin {
  @include icon(social_linkedin);
}

.icon-social_tumblr {
  @include icon(social_tumblr);
}

.icon-social_twitter {
  @include icon(social_twitter);
}

.icon-star {
  @include icon(star);
}

.icon-tag {
  @include icon(tag);
}

.icon-tasks {
  @include icon(tasks);
}

.icon-team {
  @include icon(team);
}

.icon-timeoff_my {
  @include icon(timeoff_my);
}

.icon-upload {
  @include icon(upload);
}

.icon-view {
  @include icon(view);
}

.icon-view_stop {
  @include icon(view_stop);
}

.icon-warning {
  @include icon(warning);
}

.icon-workflow {
  @include icon(workflow);
}

