@font-face {
  font-family: 'icons';
  src: url('./src/lib/fonts/icons.eot');
  src: url('./src/lib/fonts/icons.eot?#iefix') format('eot'),
    url('./src/lib/fonts/icons.woff') format('woff'),
    url('./src/lib/fonts/icons.ttf') format('truetype'),
    url('./src/lib/fonts/icons.svg#icons') format('svg');
}

%icon {
  font-family: 'icons';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

@function icon-char($filename) {
  $char: '';

  @if $filename == alert {
    $char: '\E001';
  }
  @if $filename == api {
    $char: '\E002';
  }
  @if $filename == arrow_double {
    $char: '\E003';
  }
  @if $filename == arrow_down {
    $char: '\E004';
  }
  @if $filename == arrow_left {
    $char: '\E005';
  }
  @if $filename == arrow_right {
    $char: '\E006';
  }
  @if $filename == arrow_up {
    $char: '\E007';
  }
  @if $filename == asterisk {
    $char: '\E008';
  }
  @if $filename == bell {
    $char: '\E009';
  }
  @if $filename == cake {
    $char: '\E00A';
  }
  @if $filename == calendar {
    $char: '\E00B';
  }
  @if $filename == check {
    $char: '\E00C';
  }
  @if $filename == chevron_left {
    $char: '\E00D';
  }
  @if $filename == chevron_right {
    $char: '\E00E';
  }
  @if $filename == clipboard {
    $char: '\E00F';
  }
  @if $filename == clipboard_check {
    $char: '\E010';
  }
  @if $filename == clipboard_paste {
    $char: '\E011';
  }
  @if $filename == clock {
    $char: '\E012';
  }
  @if $filename == collapse {
    $char: '\E013';
  }
  @if $filename == copy {
    $char: '\E014';
  }
  @if $filename == delete {
    $char: '\E015';
  }
  @if $filename == delete_inverted {
    $char: '\E016';
  }
  @if $filename == denied {
    $char: '\E017';
  }
  @if $filename == disabled {
    $char: '\E018';
  }
  @if $filename == document {
    $char: '\E019';
  }
  @if $filename == document_blank {
    $char: '\E01A';
  }
  @if $filename == download {
    $char: '\E01B';
  }
  @if $filename == drag {
    $char: '\E01C';
  }
  @if $filename == email {
    $char: '\E01D';
  }
  @if $filename == exit {
    $char: '\E01E';
  }
  @if $filename == expand {
    $char: '\E01F';
  }
  @if $filename == export {
    $char: '\E020';
  }
  @if $filename == feed {
    $char: '\E021';
  }
  @if $filename == flag {
    $char: '\E022';
  }
  @if $filename == flagpole {
    $char: '\E023';
  }
  @if $filename == folder {
    $char: '\E024';
  }
  @if $filename == folder_open {
    $char: '\E025';
  }
  @if $filename == graph {
    $char: '\E026';
  }
  @if $filename == heart {
    $char: '\E027';
  }
  @if $filename == heart_outline {
    $char: '\E028';
  }
  @if $filename == help {
    $char: '\E029';
  }
  @if $filename == home {
    $char: '\E02A';
  }
  @if $filename == key {
    $char: '\E02B';
  }
  @if $filename == list {
    $char: '\E02C';
  }
  @if $filename == location {
    $char: '\E02D';
  }
  @if $filename == lock {
    $char: '\E02E';
  }
  @if $filename == mobile {
    $char: '\E02F';
  }
  @if $filename == namely {
    $char: '\E030';
  }
  @if $filename == namely_inverted {
    $char: '\E031';
  }
  @if $filename == paperclip {
    $char: '\E032';
  }
  @if $filename == pencil {
    $char: '\E033';
  }
  @if $filename == people {
    $char: '\E034';
  }
  @if $filename == person {
    $char: '\E035';
  }
  @if $filename == person_add {
    $char: '\E036';
  }
  @if $filename == phone {
    $char: '\E037';
  }
  @if $filename == pin {
    $char: '\E038';
  }
  @if $filename == plane {
    $char: '\E039';
  }
  @if $filename == print {
    $char: '\E03A';
  }
  @if $filename == search {
    $char: '\E03B';
  }
  @if $filename == settings {
    $char: '\E03C';
  }
  @if $filename == social_fb {
    $char: '\E03D';
  }
  @if $filename == social_google {
    $char: '\E03E';
  }
  @if $filename == social_googleplus {
    $char: '\E03F';
  }
  @if $filename == social_linkedin {
    $char: '\E040';
  }
  @if $filename == social_tumblr {
    $char: '\E041';
  }
  @if $filename == social_twitter {
    $char: '\E042';
  }
  @if $filename == star {
    $char: '\E043';
  }
  @if $filename == tag {
    $char: '\E044';
  }
  @if $filename == tags {
    $char: '\E045';
  }
  @if $filename == team {
    $char: '\E046';
  }
  @if $filename == upload {
    $char: '\E047';
  }
  @if $filename == view {
    $char: '\E048';
  }
  @if $filename == view_stop {
    $char: '\E049';
  }
  @return $char;
}


$icon_alert: '\E001';

$icon_api: '\E002';

$icon_arrow_double: '\E003';

$icon_arrow_down: '\E004';

$icon_arrow_left: '\E005';

$icon_arrow_right: '\E006';

$icon_arrow_up: '\E007';

$icon_asterisk: '\E008';

$icon_bell: '\E009';

$icon_cake: '\E00A';

$icon_calendar: '\E00B';

$icon_check: '\E00C';

$icon_chevron_left: '\E00D';

$icon_chevron_right: '\E00E';

$icon_clipboard: '\E00F';

$icon_clipboard_check: '\E010';

$icon_clipboard_paste: '\E011';

$icon_clock: '\E012';

$icon_collapse: '\E013';

$icon_copy: '\E014';

$icon_delete: '\E015';

$icon_delete_inverted: '\E016';

$icon_denied: '\E017';

$icon_disabled: '\E018';

$icon_document: '\E019';

$icon_document_blank: '\E01A';

$icon_download: '\E01B';

$icon_drag: '\E01C';

$icon_email: '\E01D';

$icon_exit: '\E01E';

$icon_expand: '\E01F';

$icon_export: '\E020';

$icon_feed: '\E021';

$icon_flag: '\E022';

$icon_flagpole: '\E023';

$icon_folder: '\E024';

$icon_folder_open: '\E025';

$icon_graph: '\E026';

$icon_heart: '\E027';

$icon_heart_outline: '\E028';

$icon_help: '\E029';

$icon_home: '\E02A';

$icon_key: '\E02B';

$icon_list: '\E02C';

$icon_location: '\E02D';

$icon_lock: '\E02E';

$icon_mobile: '\E02F';

$icon_namely: '\E030';

$icon_namely_inverted: '\E031';

$icon_paperclip: '\E032';

$icon_pencil: '\E033';

$icon_people: '\E034';

$icon_person: '\E035';

$icon_person_add: '\E036';

$icon_phone: '\E037';

$icon_pin: '\E038';

$icon_plane: '\E039';

$icon_print: '\E03A';

$icon_search: '\E03B';

$icon_settings: '\E03C';

$icon_social_fb: '\E03D';

$icon_social_google: '\E03E';

$icon_social_googleplus: '\E03F';

$icon_social_linkedin: '\E040';

$icon_social_tumblr: '\E041';

$icon_social_twitter: '\E042';

$icon_star: '\E043';

$icon_tag: '\E044';

$icon_tags: '\E045';

$icon_team: '\E046';

$icon_upload: '\E047';

$icon_view: '\E048';

$icon_view_stop: '\E049';


@mixin icon($filename, $insert: before) {
  &:#{$insert} {
    @extend %icon;
    content: icon-char($filename);
  }
}

.icon-alert {
  @include icon(alert);
}

.icon-api {
  @include icon(api);
}

.icon-arrow_double {
  @include icon(arrow_double);
}

.icon-arrow_down {
  @include icon(arrow_down);
}

.icon-arrow_left {
  @include icon(arrow_left);
}

.icon-arrow_right {
  @include icon(arrow_right);
}

.icon-arrow_up {
  @include icon(arrow_up);
}

.icon-asterisk {
  @include icon(asterisk);
}

.icon-bell {
  @include icon(bell);
}

.icon-cake {
  @include icon(cake);
}

.icon-calendar {
  @include icon(calendar);
}

.icon-check {
  @include icon(check);
}

.icon-chevron_left {
  @include icon(chevron_left);
}

.icon-chevron_right {
  @include icon(chevron_right);
}

.icon-clipboard {
  @include icon(clipboard);
}

.icon-clipboard_check {
  @include icon(clipboard_check);
}

.icon-clipboard_paste {
  @include icon(clipboard_paste);
}

.icon-clock {
  @include icon(clock);
}

.icon-collapse {
  @include icon(collapse);
}

.icon-copy {
  @include icon(copy);
}

.icon-delete {
  @include icon(delete);
}

.icon-delete_inverted {
  @include icon(delete_inverted);
}

.icon-denied {
  @include icon(denied);
}

.icon-disabled {
  @include icon(disabled);
}

.icon-document {
  @include icon(document);
}

.icon-document_blank {
  @include icon(document_blank);
}

.icon-download {
  @include icon(download);
}

.icon-drag {
  @include icon(drag);
}

.icon-email {
  @include icon(email);
}

.icon-exit {
  @include icon(exit);
}

.icon-expand {
  @include icon(expand);
}

.icon-export {
  @include icon(export);
}

.icon-feed {
  @include icon(feed);
}

.icon-flag {
  @include icon(flag);
}

.icon-flagpole {
  @include icon(flagpole);
}

.icon-folder {
  @include icon(folder);
}

.icon-folder_open {
  @include icon(folder_open);
}

.icon-graph {
  @include icon(graph);
}

.icon-heart {
  @include icon(heart);
}

.icon-heart_outline {
  @include icon(heart_outline);
}

.icon-help {
  @include icon(help);
}

.icon-home {
  @include icon(home);
}

.icon-key {
  @include icon(key);
}

.icon-list {
  @include icon(list);
}

.icon-location {
  @include icon(location);
}

.icon-lock {
  @include icon(lock);
}

.icon-mobile {
  @include icon(mobile);
}

.icon-namely {
  @include icon(namely);
}

.icon-namely_inverted {
  @include icon(namely_inverted);
}

.icon-paperclip {
  @include icon(paperclip);
}

.icon-pencil {
  @include icon(pencil);
}

.icon-people {
  @include icon(people);
}

.icon-person {
  @include icon(person);
}

.icon-person_add {
  @include icon(person_add);
}

.icon-phone {
  @include icon(phone);
}

.icon-pin {
  @include icon(pin);
}

.icon-plane {
  @include icon(plane);
}

.icon-print {
  @include icon(print);
}

.icon-search {
  @include icon(search);
}

.icon-settings {
  @include icon(settings);
}

.icon-social_fb {
  @include icon(social_fb);
}

.icon-social_google {
  @include icon(social_google);
}

.icon-social_googleplus {
  @include icon(social_googleplus);
}

.icon-social_linkedin {
  @include icon(social_linkedin);
}

.icon-social_tumblr {
  @include icon(social_tumblr);
}

.icon-social_twitter {
  @include icon(social_twitter);
}

.icon-star {
  @include icon(star);
}

.icon-tag {
  @include icon(tag);
}

.icon-tags {
  @include icon(tags);
}

.icon-team {
  @include icon(team);
}

.icon-upload {
  @include icon(upload);
}

.icon-view {
  @include icon(view);
}

.icon-view_stop {
  @include icon(view_stop);
}

