/**

  sizing
-------------------------

  Variables for controlling visual sizing and spacing with utility classes.

-----------------------*/

// Spacing variables for padding and margins
/** pixels here for reference
-------------------------------
  $space-1  =   .3125rem  = 5px
  $space-2  =   .625rem   = 10px
  $space-3  =   1.25rem   = 20px
  $space-4  =   1.875rem  = 30px
  $space-5  =   2.5rem    = 40px
-------------------------------*/

$space-1: 0.3125rem !default;
$space-2: 0.625rem !default;
$space-3: 1.25rem !default;
$space-4: 1.875rem !default;
$space-5: 2.5rem !default;


// Sizing variables for typography
$h1: 2.25rem !default;
$h2: 1.5rem !default;
$h3: 1.3rem !default;
$h4: 1.125rem !default;
$h5: 1rem !default;
$h6: 0.875rem !default;

$line-height: 1.375;
$heading-line-height: 1.1;
