/**

  sizing
-------------------------

  Variables for controlling visual sizing and spacing with utility classes.

-----------------------*/

// Spacing variables for padding and margins
$space-1: 0.5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;


// Sizing variables for typography
$h1: 2rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: 0.875rem !default;
$h6: 0.75rem !default;

$line-height: 1.5 !default;
