table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: bold;
  font-size: 1rem;
}

th,
td {
  // padding: $table-cell-padding-y $table-cell-padding-x;
  line-height: inherit;
}

th { vertical-align: bottom }
td { vertical-align: top }