@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.orange-text {
  color: #e05b18 !important; }

.dark-orange-text {
  color: #87411d !important; }

.green-text {
  color: #52ac00 !important; }

.white-text {
  color: #ffffff !important; }

.grey-25-text {
  color: #c4c7ca !important; }

.grey-50-text {
  color: #899096 !important; }

.tertiary-blue-text {
  color: #0e3e6b !important; }

.primary-blue-text {
  color: #186bb7 !important; }

.baby-blue-text {
  color: #a1d2ff !important; }

.secondary-blue-text {
  color: #4c9be6 !important; }

.dark-yellow-text {
  color: #9b7531 !important; }

.yellow-text {
  color: #fdb836 !important; }

.dark-green-text {
  color: #36660a !important; }

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-decoration: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%; }

body {
  background: #ffffff;
  font-size: 16px; }

a {
  color: inherit; }

html, body, #app, .main, .nav, .content-container, .Styleguide, .Styleguide-sidebar {
  height: 100%; }

.main {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.nav-primary {
  width: 15%; }

.content-container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.Styleguide {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.Styleguide-sidebar {
  width: 15%; }

.Styleguide-components {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.Styleguide-sidebar {
  border-right: 1px solid #c4c7ca;
  padding: 3em 1em; }

.Styleguide-sidebar-title {
  color: #c4c7ca;
  font-size: 0.75em;
  font-weight: 400;
  padding-bottom: 1em;
  text-transform: uppercase; }

.Styleguide-sidebar-list {
  list-style: none; }
  .Styleguide-sidebar-list li {
    color: #186bb7;
    padding: 0.5em 0; }

.Styleguide-components {
  padding: 2em 3em; }

.Styleguide-components-component {
  margin-bottom: 2em; }

.home-page {
  padding: 3em; }

.nav {
  background: #14212d;
  color: #ffffff; }

.nav-item {
  padding: 0.5em 1em; }
  .nav-item:first-child {
    padding: 1em; }
  .nav-item.is-active {
    background: white;
    color: #186bb7; }

.nav-link {
  color: inherit; }
