html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.orange-text {
  color: #e05b18 !important; }

.dark-orange-text {
  color: #87411d !important; }

.green-text {
  color: #52ac00 !important; }

.white-text {
  color: #ffffff !important; }

.grey-25-text {
  color: #c4c7ca !important; }

.grey-50-text {
  color: #899096 !important; }

.tertiary-blue-text {
  color: #0e3e6b !important; }

.primary-blue-text {
  color: #186bb7 !important; }

.baby-blue-text {
  color: #a1d2ff !important; }

.secondary-blue-text {
  color: #4c9be6 !important; }

.dark-yellow-text {
  color: #9b7531 !important; }

.yellow-text {
  color: #fdb836 !important; }

.dark-green-text {
  color: #36660a !important; }

* {
  box-sizing: border-box;
  font-family: Proxima, sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-decoration: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%; }

body {
  background: #ffffff;
  font-size: 16px; }

html, body, #app, .main, .nav, .content-container {
  height: 100%; }

.main {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.content-container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.nav {
  background: #14212d;
  color: #ffffff; }

.nav-item {
  padding: 0.5em 1em; }
  .nav-item:first-child {
    padding: 1em; }
  .nav-item.is-active {
    background: white;
    color: #186bb7; }

.nav-link {
  color: inherit; }
