header {
  background: $grey-95;
  border-bottom: 5px solid $blue-70;
  color: $white;
  width: 100%;

  a,
  span {
    box-sizing: border-box;
    color: $grey-25;
    font-size: $h4;
    font-weight: bold;
    margin-right: $space-2;
    padding: $space-2 $space-2 $space-1;
  }

  a {

    &.on {
      border-bottom: 5px solid $blue-70;
    }

    &:hover {
      color: $white;
    }
  }

  nav {

    a,
    .header-icon {
      float: left;
    }
  }
}

.header-icon {
  background-size: $space-5 $space-5;
  background: rgba($white, 0) url(../images/logo.svg) no-repeat;
  fill: $blue-70;
  height: $space-5;
  width: $space-5;
}
