// Disabled Button
button:disabled,
.button-disabled {
  background: $grey-25;
  cursor: not-allowed;

  &::before,
  &::after {
    background: $grey-25;
  }

  &:hover {
    background: $grey-25;

    &::before,
    &::after {
      background: $grey-25;
    }
  }

  &.button-link {
    background: none;
  }
}
