/**

  display
-------------------------

  Utility classes for setting the display style for an element.

------------------------*/

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.none {
  display: none;
}
