/**

  flexbox
---------------------------

  Flexbox is a modern layout tool we can take advantage of on occasion using the following utility classes.

-------------------------*/

.flex, %flex {
  display: flex;
};

.flex-column, %flex-column {
  flex-direction: column;
}

.flex-wrap, %flex-wrap {
  flex-wrap: wrap;
}

.flex-center, %flex-center {
  align-items: center;
}

.flex-baseline, %flex-baseline {
  align-items: baseline;
}

.flex-stretch, %flex-stretch {
  align-items: stretch;
}

.flex-start, %flex-start {
  align-items: flex-start;
}

.flex-end, %flex-end {
  align-items: flex-end;
}

.flex-justify, %flex-justify {
  justify-content: space-between;
}

.flex-auto, %flex-auto {
  flex: 1 1 auto;
}

.flex-grow, %flex-grow {
  flex: 1 0 auto;
}

.flex-equal, %flex-equal {
  flex: 1 0 0;
}

.flex-none, %flex-none {
  flex: none;
}
