/**

  layout
-----------------------------

  A large portion of CSS is structural layout. You will use these helpers to crate the scaffolding that will support the elements and modules that make up your site.

---------------------------*/

html, body, #app, .main, .nav, .content-container, .Styleguide, .Styleguide-sidebar {
  height: 100%;
}

.main {
  @include display(flex);
}

.nav-primary {
  width: 15%;
}

.content-container {
  @include flex(1);
}

.Styleguide {
  @include display(flex);
}

.Styleguide-sidebar {
  width: 15%;
}

.Styleguide-components {
  @include flex(1);
}
