/**

  overflow
-------------------------

  Utility classes for setting the overflow style for an element.

------------------------*/

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

