/**

  buttons
-------------------------------------

  Various button styles

-----------------------------------*/

$button-height: 2rem;

button,
.button {
  appearance: none;
  background: $blue-primary;
  border: 0;
  border-radius: $border-radius;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: $h4;
  font-weight: normal;
  height: $button-height;
  outline: none;
  padding: 0 $space-2;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  transition: background 0s, color 0s;
  vertical-align: middle;

  &:hover, &:active {
    background: $blue-tertiary;
    text-decoration: none;
    transition: background $duration, color $duration;
  }
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@import 'types';
@import 'sizes';
@import 'directions';
@import 'disabled';
@import 'groups';
