/**

  buttons
-------------------------------------

  Various button styles

-----------------------------------*/

$button-height: 32px;

button,
.button {
  appearance: none;
  border-radius: $border-radius;
  transition: background 0s, color 0s;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  padding: 0 10px;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  background: $blue-primary;
  color: $white;
  height: $button-height;
  vertical-align: middle;
  line-height: $button-height;
  outline: none;

  &:before, &:after {
    line-height: $button-height;
  }

  &:hover, &:active {
    transition: background $duration, color $duration;
    text-decoration: none;
    background: $blue-tertiary;
  }
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@import "types";
@import "sizes";
@import "directions";
@import "disabled";
