$directional-button-height: (($space-1 * 1.5) * 2) + $h4;
$arrow-dimensions: $directional-button-height * 0.75;
$arrow-position: -($h2/2);
$arrow-top: ($directional-button-height * 0.25)/2;

.button-previous {
  background: $blue-secondary;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: 1em;
  padding-left: $space-1;

  &:before {
    background: $blue-secondary;
    content: '';
    height: $arrow-dimensions;
    left: $arrow-position;
    transition: background 0s;
    width: $arrow-dimensions;
  }

  &:hover {
    background: $blue;

    &:before {
      background: $blue;
    }
  }

  &:active {
    background: $blue-tertiary;

    &:before {
      background: $blue-tertiary;
    }
  }
}

.button-next {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  margin-right: 1em;
  padding-right: $space-1;

  &:after {
    background: $blue;
    content: '';
    height: $arrow-dimensions;
    right: $arrow-position;
    width: $arrow-dimensions;
  }

  &:hover {

    &:after {
      background: $blue-tertiary;
    }
  }
}

.button-previous,
.button-next {
  position: relative;
  transform: translateZ(0px);
  z-index: 20;

  &:after, &:before {
    border-radius: $border-radius;
    display: block;
    line-height: $h4;
    position: absolute;
    top: $arrow-top;
    transform: rotate(45deg) translateZ(0px);
    z-index: -1;
  }

  &:hover {

    &:before, &:after {
      transition: background $duration;
    }
  }

  &:active {

    &:before, &:after {
      background: $blue-tertiary;
    }
  }
}
