%button-types {

  // Secondary Button
  &.button-secondary {
    background: $blue-secondary;

    &:hover {
      background: $blue-primary;
    }

    &:active {
      background: $blue-tertiary;
    }
  }

  // Danger Button
  &.button-danger {
    background: $orange;

    &:hover {
      background: $orange-shade;
    }

    &:active {
      background: $orange-dark;
    }
  }

  // Disabled Button
  &:disabled, &.button-disabled {
    background: $grey-25 !important;
    cursor: not-allowed;

    &:hover, &:before, &:after {
      background: $grey-25 !important;
    }
  }
}
