
input,
select,
textarea,
fieldset {
  font-size: $h5;
  margin-bottom: 0;
  margin-top: 0;
  &:focus { outline: 0;}
}

[type=text],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=time],
[type=url],
[type=week] {
  -webkit-appearance: none;
  box-sizing: border-box;
  vertical-align: middle;
}

[type=checkbox] {
  -webkit-appearance: none;
  height: $space-3;
  width: $space-3;

  &:after {
    border: 1px solid $grey-50;
    border-radius: 3px;
    color: $grey-50;
    content: '';
    cursor: pointer;
    display: block;
    height: $space-3;
    position: absolute;
    width: $space-3;
  }

  &:checked:after {
    color: $grey-50;
    content: '*';
  }
}
