input,
select,
textarea,
.simple-select,
fieldset {
  font-family: $sans-family;
  font-size: $h5;
  margin-bottom: 0;
  margin-top: 0;

  &:focus {
    outline: 0;
  }

  &.bc-orange {
    border-color: $orange;
  }
}

input::placeholder {
  color: $grey-50;
}

input:not([readonly]):focus::placeholder {
  color: transparent;
}

select {
  -webkit-appearance: none;
  border-radius: 3px;
  height: $space-4;
  min-width: 100%; // fill the container, preferably a col-* class
  padding: $space-1;
}

select:not([multiple]) {
  vertical-align: middle;
}

textarea {
  border-radius: 3px;
  box-sizing: border-box;
  padding: $space-2;
  vertical-align: middle;
  width: 100%;

  &:not([readonly]):focus,
  &:not([readonly]):hover {
    border: 1px solid $blue-25;
  }
}

label {
  color: $grey-50;
  cursor: pointer;
  display: inline-block;
  font-size: $h6;
  line-height: 1;
}

[type=text],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=time],
[type=url],
[type=week],
.date-field input {
  -webkit-appearance: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: $grey-75;
  padding: $space-1;
  vertical-align: middle;
  width: 100%;

  &:focus:not([readonly]),
  &:hover:not([readonly]) {
    border: 1px solid $blue-25;
  }
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  opacity: 0;
}

[type=checkbox] {
  -webkit-appearance: none;
  background: none;
  height: $space-3;
  position: relative;
  width: $space-3;

  &:disabled:after {
    cursor: default;
  }

  &[readonly]:after {
    cursor: default;
  }

  &:after {
    border-radius: 3px;
    color: $grey-50;
    content: '';
    cursor: pointer;
    display: block;
    height: $space-3;
    position: absolute;
    width: $space-3;
    z-index: 1;
  }

  &:checked {
    @include icon(check);
    &:before {
      color: $grey-50;
      font-size: $h6;
      left: 3px;
      position: absolute;
      top: 4px;
      z-index: 2;
    }
  }

  &:disabled:checked:after {
    border: 0;
    cursor: default;
    margin-left: 1px;
    margin-top: 1px;
  }
}

[type=checkbox]:disabled:after {
  border-radius: 3px;
  content: '';
  cursor: default;
}

[type=radio] {
  -webkit-appearance: none;
  height: 16px;
  padding: 0;
  position: relative;
  width: 16px;

  &:disabled:after {
    cursor: default;
  }

  &:after {
    border-radius: 7px;
    color: $grey-50;
    content: '';
    cursor: pointer;
    display: block;
    height: 14px;
    position: absolute;
    width: 14px;
  }

  &:checked:before {
    background: $grey-50;
    border: 0;
    border-radius: 5px;
    content: '';
    cursor: pointer;
    height: 8px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 8px;
    z-index: 1;
  }

}

.disabled label {
  cursor: default;
}

// fields on white background
.field-light {
  background: $blue-05;
  border: 1px solid $blue-05;
}

.field-light:disabled {
  background: $grey-10;
  border: 1px solid $grey-10;

  &:hover {
    border: 1px solid $grey-10;
  }
}

.field-light[type=checkbox] {
  background: none;
  border: 0;
}

.field-light[type=checkbox]:after {
  border: 1px solid $grey-15;

  &:hover {
    border: 1px solid $blue-25;
  }
}

.field-light[type=checkbox]:disabled:after {
  background: $grey-10;
  border: 1px solid $grey-10;
}

.field-light[type=checkbox][readonly]:after {
  background: none;
  border: 0;
}

.field-light[type=radio] {
  background: none;
  border: 0;
}

.field-light[type=radio]:after {
  border: 1px solid $grey-15;
}

.field-light[type=radio]:disabled:after {
  background: $grey-10;
  border: 1px solid $grey-10;
}

// fields on dark background (grey form)

.field-dark {
  background: $white;
  border: 1px solid $white;

  &:hover {
    border: 1px solid $grey-50;
  }
}

.field-dark:disabled {
  background: $grey-15;
  border: 1px solid $grey-15;

  &:hover {
    border: 1px solid $grey-15;
  }
}

.field-dark[type=checkbox] {
  background: none;
  border: 0;
}

.field-dark[type=checkbox]:after {
  background: $white;
  border: 1px solid $white;
}

.field-dark[type=checkbox]:disabled:after {
  background: $grey-15;
  border: 1px solid $grey-15;
}

.field-dark[type=checkbox][readonly]:after {
  background: none;
  border: 0;
}

.field-dark[type=radio] {
  background: none;
  border: 0;
}

.field-dark[type=radio]:after {
  background: $white;
  border: 1px solid $white;
}

.field-dark[type=radio]:disabled:after {
  background: $grey-15;
  border: 1px solid $grey-15;
}

// note: there are some very pixel-specific styles here,
// but I thought that might be ok since these are UI elements

.number-field {
  .icon {
    height: 0;
    margin-left: -23px;
    pointer-events: none;
    position: relative;
    top: 3px;
    width: 0;
  }

  .units {
    margin-left: 15px;
  }

  input {
    width: auto;
  }
}

.checkbox-field, .radio-field {

  &.read-only, &.inactive {

    label {
      cursor: default;
    }
  }

  .label-right {
    margin-left: 10px;
    position: relative;
  }

  &.inactive input {
    background: none;
  }
}

.checkbox-field .label-right {
  top: -4px;
}

.radio-field .label-right {
  top: -1px;
}

.simple-select {

  &:hover {
    border-color: $grey-50;
  }

  &.disabled:hover {
    border-color: $grey-15;
  }

  &.bc-orange-hover:hover {
    border-color: $orange;
  }

  .option:hover {
    background-color: $grey-5;
  }
}

.no-resize {
  resize: none;
}
