/**

  html
-----------------------------------------

  HTML should contain the sit's default background color and font-size

---------------------------------------*/

html {
  box-sizing: border-box;
  font-size: 100%;
}

* {
  text-size-adjust: 100%;
}
