$day-width: $space-4;

.date-field-react-container {

  input {
    z-index: 103;
  }

  .icon {
    left: $day-width * 5.8;
    position: absolute;
    top: $space-5;
    z-index: 104;
  }
}

.date-field-react-wrapper {
  left: -$space-3;
  position: absolute;
  z-index: 102;
}

.date-field-react-dates {
  height: $day-width * 5;
  position: relative;
  width: $day-width * 7;

  &.extra-week {
    height: $day-width * 6;
  }
}

.date-field-react {
  position: relative;
  z-index: 105;

  .month-picker {
    margin-top: $space-4 * 2;
    text-align: center;

    .month-name {
      width: 50%;
    }
  }

  @for $i from 0 through 6 {
    .day-in-week-#{$i} { left: $day-width * $i; }
  }

  @for $i from 0 through 5 {
    .week-#{$i + 1} { top: $day-width * $i; }
  }
}

.date-field-react-day {
  position: absolute;

  a {
    height: $day-width - $space-1;
    padding-top: $space-1 / 2;
    width: $day-width;

    &:hover {
      color: $white;
    }
  }
}

.week-labels {

  span {
    width: $day-width;
  }
}
