$day-width: 22px;

.date-field-react-container {
  position: relative;
}

.date-field-react-wrapper {
  position: absolute;
  z-index: 102;

  input {
    position: relative;
    z-index: 103;
  }
}

.date-field-react-dates {
  height: 100%;
  position: relative;
  width: 156px;
}

.date-field-react {
  height: 220px;
  position: relative;
  width: $day-width * 7;
  z-index: 10;

  .month-picker {
    text-align: center;
  }

  .day-in-week-1 {
    left: 0;
  }

  .day-in-week-2 {
    left: $day-width * 1;
  }

  .day-in-week-3 {
    left: $day-width * 2;
  }

  .day-in-week-4 {
    left: $day-width * 3;
  }

  .day-in-week-5 {
    left: $day-width * 4;
  }

  .day-in-week-6 {
    left: $day-width * 5;
  }

  .day-in-week-0 {
    left: $day-width * 6;
  }

  .week-1 {
    top: 0;
  }

  .week-2 {
    top: $day-width * 2;
  }

  .week-3 {
    top: $day-width * 3;
  }

  .week-4 {
    top: $day-width * 4;
  }

  .week-5 {
    top: $day-width * 5;
  }

  .week-6 {
    top: $day-width * 6;
  }
}

.date-field-react-day {
  position: absolute;

  a {
    display: block;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    width: $day-width;

    &:hover {
    }
  }
}
