html, body, #app, .main, .nav, .content-container {
  height: 100%;
}

.main {
  @include display(flex);
}

.nav-primary {
  width: 15%;
}

.content-container {
  @include flex(1);
}

.Styleguide {
  @include display(flex);
}

.Styleguide-sidebar {
  width: 15%;
}

.Styleguide-components {
  @include flex(1);
}
