.zoom {
  transform: scale(0);
  animation-name: zoom;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes zoom {
    0% { transform: scale(0) }
  100% { transform: scale(1) }
}